body{
    background-color: silver;
    margin: 0;
    padding: 0;
}

.conteiner{
    position: relative;
    border: 1px solid black;
    height: 500px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.content{
    position: relative;
    border: 1px solid black;
    display: inline-block; /*располагаем блоки в ряд по горизонтали*/
    margin-right: 0.25em;
    height: 300px;
    width: 30%;
    margin-top: 100px;
}

img{
    margin-top: 50px;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    transition: transform 1s ease-in-out;
}

img:hover {
    transform: rotate(360deg);
  }